.react-datepicker {
    border: none;
}

.react-datepicker__day {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}


.react-datepicker__navigation {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 15px 0;
}

.react-datepicker__navigation--next:before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgba(188, 156, 255);
    position: absolute;
}

.react-datepicker__navigation--next:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(45deg);
    color: rgba(188, 156, 255);
}

.react-datepicker__navigation--previous:after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    transform: rotate(225deg);
    color: rgba(188, 156, 255);
}

.react-datepicker__navigation--previous:before {
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background-color: rgba(188, 156, 255);
    position: absolute;
}

.react-datepicker__month-container {
    float: none;
}

.react-datepicker__day--in-range {
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
    color: rgba(31, 32, 65, 0.5);
    border-radius: 0;
}

.react-datepicker__header {
    border-bottom: none;
    background: none;
}

.react-datepicker__day--selected {
    border-radius: 50%;
    background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
}

.calendar {
    font-family: Montserrat sans-serif;
    font-size: 12px;
    border: none;
}


.react-datepicker__navigation-icon.react-datepicker__navigation-icon--next {
    visibility: hidden;
}

.react-datepicker__navigation-icon.react-datepicker__navigation-icon--previous {
    visibility: hidden;
}

.react-datepicker__current-month {
    margin: 15px 0;
}

.react-datepicker__day-name {
    color: rgba(188, 156, 255);
    font-weight: bold;
    font-size: 12px;
}
