.carouselContainer {
  width: 270px;
  height: 151px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carouselItem {
  position: absolute;
  width: 270px;
  height: 151px;
  opacity: 0;
  transition: transform 1s linear;
  float: left;
  transform: translateX(0);
}

.carouselItemActive {
  position: absolute;
  width: 270px;
  height: 151px;
  opacity: 1;
  transition-duration: 1s;
  transform: translateX(0);
}

.carouselPrev {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  position: absolute;
  cursor: pointer;
  top: 55px;
  z-index: 1;
}

.carouselPrev:after {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(225deg);
  right: 50%;
  top: 50%;
}

.carouselNext {
  width: 40px;
  height: 40px;
  border: none;
  background: none;
  color: white;
  position: absolute;
  cursor: pointer;
  top: 55px;
  right: 0;
}

.carouselNext:after {
  position: absolute;
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
}

.carouselDot {
  background: none;
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 50%;
  content: '';
}

.carouselDotActive {
  background: white;
  width: 7px;
  height: 7px;
  border: 1px solid white;
  border-radius: 50%;
  content: '';
}

.carouselDots {
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 130px;
  right: 10px;
}