@import '../../variables';

.checkboxWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}


.checkbox {
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  appearance: none;
  margin-right: 5px;
}


.checkbox:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 1px solid $dark25;
  border-radius: 4px;
  background-color: white;
}

.checkbox:checked:before {
  border: 1px solid $purple;
}

.checkbox:checked:after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
  color: $purple;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  vertical-align: top;
  background: #ffffff;
  border: 1px solid $dark25;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
}

.toggle:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 3px;
  top: 1.5px;
  width: 15px;
  height: 15px;
  background: $dark25;
  border-radius: 50%;
  transform: translateX(0);
}

.toggle:checked:after {
  transform: translateX(calc(100% + 3px));
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%) border-box;
}

.toggle:checked {
  border-color: $purple;
}