.pagination {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  position: relative;

}

.pageNumber {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}

.next {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--greenGradient);
  color: white;
  position: relative;
  cursor: pointer;
}

.next:before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 13px;
  top: 50%
}

.next:after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 3px;
  top: 15px;
  left: 14px;
}

.previous {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--greenGradient);
  color: white;
  position: relative;
  cursor: pointer;
}

.previous:before {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: white;
  position: absolute;
  right: 13px;
  top: 50%
}

.previous:after {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(225deg);
  right: 3px;
  top: 15px;
  left: 11px;
}

.active {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--purpleGradient);
}

.disabled {
  background: var(--dark25);
  cursor: not-allowed;
}
