@import '../../variables';

.roomContainer {
  width: 270px;
  height: 257px;
  border: 1px solid rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  box-shadow: 0 0 25px 0 $dark5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  justify-content: space-between;
}

.roomInfo {
  width: 230px;
  height: 67px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.roomNum {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

.roomPrice, .roomReviews {
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
}

.roomReviews {
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.roomCardUpper {
  width: 100%;
  height: 33px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.roomCardBottom {
  border-width: 1px 0 0 0;
  border-color: $dark10;
  border-style: solid;
  height: 33px;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}