@import '../../variables';

.calendar {
  font-family: Montserrat sans-serif;
  font-size: 12px;
  border: none;
}

.disabled {
  color: $dark25;
}

.currentDay {
  color: white;
  background: $greenGradient;
  border-radius: 50%;
  font-weight: 700;
}