@import '../../variables';

.calendar {
  font-family: Montserrat sans-serif;
  font-size: 12px;
  border: none;
}

.disabled {
  color: $dark25;
}

.currentDay {
  color: white;
  background: $greenGradient;
  border-radius: 50%;
  font-weight: 700;
}

.calendarTextField {
  border: 1px solid $dark25;
  border-radius: 4px;
  width: 320px;
  height: 44px;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: $dark50;
  padding: 10px;
}

.dayMonthHeader {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.dateSelect {
  border: none;
  font-family: Montserrat sans-serif $dark50;
  text-transform: capitalize;
}