.collapseHead {
  display: flex;
  flex-direction: row;
  border: none;
  position: relative;
  height: 44px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.arrow {
  right: 0;
  border: none;
  background: none;
  margin: 0;
  align-self: center;
}

.arrow:after {
  color: var(--dark75);
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(135deg);
}

.arrowExpanded {
  right: 0;
  border: none;
  background: none;
  margin: 0;
  align-self: center;
}

.arrowExpanded:after {
  color: var(--dark75);
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
}
