@import '../../variables';

.quantityItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 14px;
  height: 40px;
}

.quantityItemButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plusBtn {
  padding: 0;
  margin: 5px 0 5px 14px;
  border-radius: 50%;
  border: 1px solid $dark25;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.plusBtn::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: $dark50;
  height: 1px;
  top: 14px;
  left: 9px;
  right: 8px;
  z-index: 9;
}

.plusBtn::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: $dark50;
  width: 1px;
  left: 50%;
  top: 9px;
  bottom: 8px;
  z-index: 9;
}


.minusBtn {
  margin: 5px 14px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid $dark25;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.minusBtn::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: $dark50;
  height: 1px;
  top: 50%;
  left: 9px;
  right: 9px;
  z-index: 9;
}

.disabled {
  opacity: 0.4;
  border-color: #787878;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.disabled::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #787878;
  height: 2px;
  top: 17px;
  left: 10px;
  right: 10px;
  z-index: 9;
}
