@import '../../src/variables';

button {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 19px 13px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  animation: none;
  opacity: 0.5;
  transition: none;
  cursor: not-allowed;
  transform: none;
}

button:active:not([disabled]) {
  transform: scale(.96)
}

.outline {
  background: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%) border-box;
  border: 2px solid transparent;
  border-radius: 30px;
}

.outline:hover:not([disabled]) {
  box-shadow: 0 0 10px 0 rgba(188, 156, 255, 1) inset;
  transform: scale(1.04)
}

.outline:active:not([disabled]) {
  transform: scale(.96)
}

.filled {
  border-radius: 30px;
  border: none;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color: white;
}


.filled:hover:not([disabled]) {
  box-shadow: 0 0 10px 0 rgba(188, 156, 255, 1);
  transform: scale(1.04)
}

.filled:active:not([disabled]) {
  transform: scale(.99)
}

.clear {
  color: $purple;
  border: none;
  background: none;
  margin: 5px;
  padding: 5px;
}

.withIcon {
  border-radius: 30px;
  border: none;
  background: linear-gradient(180deg, rgba(188, 156, 255, 1) 0%, rgba(139, 164, 249, 1) 100%);
  color: white;
  position: relative;
}

.withIcon:before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  right: 13px;
}

.withIcon:after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  margin-left: 20px;
}

.withIcon:hover:not([disabled]) {
  box-shadow: 0 0 10px 0 rgba(188, 156, 255, 1);
  transform: scale(1.04)
}

.withIcon:active:not([disabled]) {
  transform: scale(.99)
}